<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'form-signin' }) do |f| %>
  <h2>Log in</h2>
  
  <%= f.label :email %>
  <%= f.text_field :email, autofocus: true, class: 'input-block-level' %>

  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "off", class: 'input-block-level' %>

  <% if devise_mapping.rememberable? -%>
    <%= f.label :remember_me, :class => 'checkbox' do %>
      <%= f.check_box :remember_me, class: 'input-block-level' %> Remember Me
    <% end %>
  <% end -%>
  
  <%= f.submit "Log in", class: 'btn btn-large btn-primary' %>
  
  <div class="shared_links">
    <%= render "admin/users/shared/links" %>
  </div>
<% end %>


