<div class="article_wrapper">
  <div id="article_<%= article.id %>" class="article">
    <div class="article_overlay" style="background-image:url(<%= article.photo.url(:cropped, timestamp: false) %>)">
      <div class="overlay_el whitebg"></div>
      <div class="overlay_el label" style="<%= article_title_font(article_index)%>"><%= article.title %></div>
    </div>
  </div>
  <div class="article_body">
  	<p class="meta">
  		<span class="date"><%= h(time_format(article.posted_at)) %></span>
  		<span class="posted">Posted by <span class="dyn_info"><%= article.user.username %></span><% unless article.category.nil? %> in <span class="dyn_info"><%= article.category.name %></span><% end %></span>
  	</p>
    <p <% if article_index == 1 %>class="article_text"<% end %>><%= article.body.html_safe %></p>
    <p class="links">  	  
      <% if article.url.present? %>
        <%= link_to "Follow the link", article.url, :class => "more", :target => "_blank" %>
      <% else %>
        <%= link_to "Read the article", article_path(article), :class => "more", :target => "_blank" %>
      <% end %>
  	  <% comments_label = "Show Comments " << "(" << article.comments.length.to_s << ")" %>
  	  <%= link_to comments_label, "", :class => "comments" %>
    </p>
    <div class="comments-container">
      <% if article.comments.present? %>
  	    <%= render :partial => "comments/list", :locals => {:comments => article.comments }%>
      <% end %>
  	  <%= render :partial => "comments/add", :locals => {:article => article }%>
    </div>
  </div>
</div>