<div class="sidebar_container">
  <%= link_to("/", :class => 'sidebar_heading', title: 'Filters') do %>
    <div class="sidebar_heading_image">
      <div id="filter_heading" class="background" style="background-image:url(<%= asset_path('application/filters/filter_heading.gif') %>)"></div>
    </div>
  <% end %>
  <div class="sidebar_window">
    <% @categories.each do |category| %>
      <%= link_to( articles_path(filter_mask: category.filter_mask), { remote: true, class: 'filter_link', title: "#{category.name.titleize} Filter" }) do %>
        <div class="filter">
          <div id="filter_image_<%= category.id %>" class="filter_image" style="background-image:url(<%= asset_path("application/filters/filter_#{category.name}.gif") %>)"></div>
        </div>
      <% end%>
      <div class="filter_spacer"></div>
    <% end %>
  </div>
</div>