<div id="menu">
	<ul>
		<li class="first"><%= link_to(image_tag("application/headings/home.gif"), '/', :alt => 'Take me home!')%></li>
		<li><%= link_to(image_tag("application/headings/abstract.gif"), '/page/abstract', :alt => 'More about me')%></li>
		<li><%= link_to(image_tag("application/headings/images.gif"), "/images", :alt => 'Interesting images from my travels')%></li>
		<li><%= link_to(image_tag("application/headings/projects.gif"), '/page/projects', :alt => "Some projects I've been working on")%></li>
		<li><%= image_tag("application/headings/contact.gif")%></li>
    <li class="social_media_menu_item">
      <%= render :partial => "site/homepage/social_media", :locals => { :name => 'twitter', :url => 'http://twitter.com/#!/misch331' } %>
    </li>
    <li class="social_media_menu_item">
      <%= render :partial => "site/homepage/social_media", :locals => { :name => 'facebook', :url => 'https://www.facebook.com/profile.php?id=1607419777' } %>
    </li>
		<li class="social_media_menu_item">
      <%= render :partial => "site/homepage/social_media", :locals => { :name => 'gmail', :url => 'mailto:kmiscia@gmail.com' } %>
    </li>
		<li class="social_media_menu_item">
      <%= render :partial => "site/homepage/social_media", :locals => { :name => 'git', :url => 'http://www.github.com/kmiscia' } %>
    </li>
	</ul>
</div>