<div id="footer-content" class="container">
	<div id="footer-bg">
		<div id="column1">
			<h2><%= image_tag('application/footer/you_are_here.gif')%></h2>
			<%= content_body(:footer_left) %>
		</div>
		<div id="column2">
			<h2><%= image_tag('application/footer/introductions.gif')%></h2>
			<%= content_body(:footer_middle) %>
		</div>
		<div id="column3">
			<h2><%= image_tag('application/footer/required_reading.gif')%></h2>
			<ul>
				<li><%= link_to('Running Times', 'http://www.runningtimes.com', :target => '_blank')%> | <%= link_to('Lets Run', 'http://www.letsrun.com', :target => '_blank')%> | <%= link_to('NYRR', 'http://www.nyrr.org', :target => '_blank')%></li>
				<li><%= link_to('VU Hoops', 'http://www.vuhoops.com', :target => '_blank')%> | <%= link_to('Ken Pom', 'http://kenpom.com/', :target => '_blank')%> | <%= link_to('Villanova.com', 'http://www.villanova.com', :target => '_blank')%></li>
				<li><%= link_to('Hacker News', 'http://news.ycombinator.com', :target => '_blank')%> | <%= link_to('TechMeme', 'http://www.techmeme.com', :target => '_blank')%> | <%= link_to('ReadWrite', 'http://www.readwriteweb.com', :target => '_blank')%></li>
				<li><%= link_to('The Onion', 'http://www.theonion.com', :target => '_blank')%> | <%= link_to('The Giant', 'http://www.thegiant.org', :target => '_blank')%> | <%= link_to('Philly', 'http://www.inquirer.com', :target => '_blank')%></li>
				<li><%= link_to('More...', '/page/miscellany')%></li>
			</ul>
		</div>
	</div>
</div>
<div id="footer">
	<p>Copyright (c) <%= Date.today.year %> <%= SETTINGS[:site_domain] %> All rights res...nobody would copy this.</p>
</div>