<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= SETTINGS[:site_title] %></title>
  <link rel="icon"type="image/png" href="/favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= SETTINGS[:site_title] %></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if current_admin_user -%>
            <li class="navbar-text">Welcome <%= current_admin_user.username %></li>
            <li><%= link_to "Logout", destroy_admin_user_session_path, :method => 'delete' %></li>
          <% else -%>
            <li><%= link_to "Login", new_admin_user_session_url %></li>
          <% end -%>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><%= link_to('Articles', admin_articles_path) %></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
