<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>TODO</title>
  <link rel="icon"type="image/png" href="/favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <ul id="mainNav">
      <li class="nav login-status">
        <% if current_admin_user -%>
          <%= link_to "Logout", destroy_admin_user_session_path, :method => 'delete' %>
        <% else -%>
          <%= link_to "Login", new_admin_user_session_url %>
        <% end -%>
      </li>
      <% if current_admin_user -%><li class="nav welcome-message"><span class="nav">Welcome,&nbsp;&nbsp;<%= h(current_admin_user.username) %></span></li><% end -%>
    </ul>
    <div>
      <h2 class="breadcrumb">
        <%= link_to( 'Admin', '/admin')%>
        <%= link_to( readable_controller(params[:controller]), :controller => params[:controller], :action => :index)%>
        <%= link_to( readable_action(params[:action]), :controller => params[:controller], :action => params[:action])%>
      </h2>
    </div>
    <div id="containerHolder">
      <div id="container">
        <div id="sidebar">
          <ul class="sideNav">
            <% if current_admin_user %>
              <li class="last"><%= link_to('Articles', admin_articles_path) %></li>
            <% else %>
              <li class="last"><%= link_to('Login', admin_users_login_path) %></li>
            <% end %>
          </ul>
        </div>
        <div id="main-container">
          <% unless flash.empty? %>
            <div id="message-container">
              <% flash.each do |key, value| %>
                <p class="<%=key%>"><%=h(value)%></p>
              <% end %>
            </div>
          <% end %>
          <div id="main">
            <%= yield %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
